<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
 
	<th:block th:include="../fragments/header.html :: headerfiles">
        </th:block>

<style type="text/css">
	.errors{
		color: red;
	}
</style>
</head>
<body>
<div th:insert="../fragments/header.html :: header"></div>
<div>
	<form th:method="POST" th:action="@{/people/create}" th:object="${person}">
	    <label for="name">Enter name: </label>
	    <input type="text" th:field="*{name}" id="name"/>
	    <div class="errors" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
	    <br/>
	    <lable for="age">Age</lable>
		<input type="number" th:field="*{age}" id="age" min="0" max="100"/>
		<div class="errors" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
		<br/>
	    <input type="submit" value="Add_person"/>
	</form>
</div>

</body>
</html>